
    <% layout('/boiler') %> 
    <%= data.name %><br>
    <%= data.lastname  %><br>
    <%= data.email  %>   <br>
    <a href="/home">home</a><br>
    <form action="/home/<%=data.id%>?_method=delete " method="post">
    <button>delete</button>
    </form>
