<% layout('layout/boiler') %> 
<div class="one">
    <div class="one1">
       <h1 class="wl ">WELCOME TO ONEAPP</h1>
       <p class="cl"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, alias enim ex repellat, consequuntur dolorum temporibus Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam modi nulla non alias architecto deserunt odit iusto perspiciatis cumque fuga? Est, voluptates amet doloremque reiciendis aspernatur a nostrum molestiae soluta. deserunt suscipit debitis quas magni nihil? Aspernatur magni saepe ipsa obcaecati dolorum vero atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae aperiam soluta ab provident, maxime asperiores harum alias facilis quasi eaque consectetur odio, laborum, iure doloremque eum officiis veritatis cupiditate dolores.</p>
    </div>
    <div class="one2">
        <div class="row ">
            <div class="col-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi neque ullam adipisci reprehenderit aliquid odio porro pariatur animi repellat unde itaque vero repellendus, provident repudiandae facere tempora. Nam, saepe libero.
            </div>
            <div class="col-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat reiciendis sit vero, ab dolorem commodi optio similique temporibus explicabo excepturi, natus numquam! At, commodi placeat esse possimus incidunt est totam.
            </div>
            <div class="col-4">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum eveniet molestias repudiandae dicta quisquam voluptatibus numquam in provident nostrum cum? Tempora explicabo ipsum provident nam dolorem voluptas obcaecati vitae? Quasi.
            </div>
        </div>

    </div>

</div>
<style>
    html,body{
        width: 100%;
        margin: 0;
        background-image: url('https://images.unsplash.com/photo-1594495894542-a46cc73e081a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGNhbXB8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60');
        background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
    }
    .one1{
        width: 100%;
        height: 100vh;
    }
    .one2{
        margin: 0;
        width: 100%;
        height: 100vh;
        background-color: #e0fbfc;
    }
    .wl{
        font-size: 60px;
        font-weight: bolder;
        color: black;
        margin-left: 50px;
        padding-top: 100px;
    }
    .cl{
        margin-left: 40px;
        margin-right: 300px;
        font-weight: bold;
        color: #03071e;
    }
</style>